.DS_Store
*.pyc

appengine/generated/
appengine/*/generated/
appengine/*/*/generated/
appengine/src/
appengine/*/src/
appengine/*/*/src/
appengine/third-party/
build/third-party-downloads/
/offline
/node_modules
