{namespace Genetics.soy}

/**
 * This is a Closure Template.
 *
 * To regenerate just English, run:
 *   make genetics-lab-en
 *
 * To regenerate all languages, run:
 *   make languages
 */

/**
 * Translated messages for use in JavaScript.
 */
{template .messages}
  {call BlocklyGames.soy.messages /}
  <div style="display: none">
    <span id="Genetics_pickFightTooltip">{msg meaning="Genetics.pickFightTooltip" desc="Tooltip for the block that defines the logic for picking a mouse to fight against."}Defines the function for picking a mouse to fight against. {/msg}</span>
    <span id="Genetics_chooseMateTooltip">{msg meaning="Genetics.chooseMateTooltip" desc="Tooltip for the block that defines the logic for choosing a mouse to mate with."}Defines the function for choosing a mouse to mate with.{/msg}</span>
    <span id="Genetics_mateAnswerTooltip">{msg meaning="Genetics.mateAnswerTooltip" desc="Tooltip for the block that defines the logic for answering a mate request."}Defines the function for the answer to a mate request.{/msg}</span>
  </div>
{/template}

/**
 * Canvas, statistic graphs, and buttons.
 */
{template .visualization}
  <div id="visualization">
    <canvas id="scratch" width="400" height="400" style="display: none"></canvas>
    <canvas id="display" width="400" height="400"></canvas>
  </div>

  <table id="geneticsStatTable">
    <tbody>
        <tr>
          <td><div id="sexChart" style="border: 1px solid #ccc"></div></td>
        </tr>
        <tr>
          <td><div id="mateQuestionChart"></div></td>
          <td><div id="mateAnswerChart"></div></td>
          <td><div id="pickFightChart"></div></td>
        </tr>
    </tbody>
  </table>
{/template}

/**
 * Web page structure.
 */
{template .start}
  {call .messages /}
  <h1>
    {call BlocklyGames.soy.titleSpan}
      {param appName}
        {msg meaning="Games.genetics" desc="IBID"}Genetics{/msg}
      {/param}
    {/call}
  </h1>

  {call .visualization /}

  <div id="tabarea">
    <div id="tabbar" class="goog-tab-bar goog-tab-bar-top">
      <div class="goog-tab goog-tab-selected">{{msg meaning="Pond.blocks" desc="Label on a tab that contains blocks editor.\n{lb}{lb}Identical|Blocks{rb}{rb}"}}Blocks{{/msg}}</div>
      <div class="goog-tab">JavaScript</div>
    </div>
    <div class="goog-tab-bar-clear"></div>
    <div id="blockly"></div>
    <div id="editor"></div>
  </div>

  {call .toolbox /}

  {call BlocklyGames.soy.dialog /}

{/template}
/**
 * Toolbox.
 */
{template .toolbox}
  <xml id="toolbox" style="display: none;">
    <category name="Genetics" colour="20">
    </category>
    <category name="Logic" colour="210">
      <block type="controls_if"></block>
      <block type="logic_compare"></block>
      <block type="logic_operation"></block>
      <block type="logic_negate"></block>
      <block type="logic_boolean"></block>
      <block type="logic_null"></block>
    </category>
    <category name="Loops" colour="120">
      <block type="controls_whileUntil"></block>
      <block type="controls_forEach">
        <field name="VAR">mouse</field>
        <value name="LIST">
          <shadow type="variables_get">
            <field name="VAR">aliveMice</field>
          </shadow>
        </value>
      </block>
      <block type="controls_flow_statements"></block>
    </category>
    <category name="Math" colour="230">
      <block type="math_number"></block>
      <block type="math_arithmetic">
        <value name="A">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
        <value name="B">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
      </block>
      <block type="math_change">
        <value name="DELTA">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
      </block>
      <block type="math_random_int">
        <value name="FROM">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
        <value name="TO">
         <shadow type="math_number">
           <field name="NUM">100</field>
         </shadow>
        </value>
      </block>
      <block type="math_random_float"></block>
    </category>
    <category name="Lists" colour="270">
      <block type="lists_create_with">
        <mutation items="0"></mutation>
      </block>
      <block type="lists_length"></block>
      <block type="lists_isEmpty"></block>
      <block type="lists_getIndex"></block>
      <block type="lists_setIndex"></block>
    </category>
    <sep></sep>
    <category name="Variables" colour="330" custom="VARIABLE"></category>
    <category name="Functions" colour="290" custom="PROCEDURE"></category>
  </xml>
{/template}