button.primary {
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}

html[dir="RTL"] button.primary {
  text-align: right;
}

#blockly {
  position: fixed;
  bottom: 10px;
}

#staffBox {
  border: 1px solid #ccc;
  height: 400px;
  width: 400px;
  line-height: 0;
}

.staff {
  height: 69px;
  width: 400px;
  position: relative;
}

#musicBox {
  position: absolute;
  height: 400px;
  width: 365px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 36px;
}

#notePicker {
  background-image: url(notes.png);
  border: 1px solid #ccc;
  height: 109px;
  width: 46px;
}

#sampleHelp2 {
  height: 130px;
  width: 250px;
}

#sampleHelp6, #sampleHelp7 {
  height: 50px;
  width: 250px;
}

/* Slider. */
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.stop {
  background-position: -42px 0px;
}
.run {
  background-position: -63px 0px;
}
.reddit {
  background-position: -63px -21px;
}
