{namespace Pond.Duck.Basic.soy}

/**
 * This is a Closure Template.
 *
 * To regenerate just English, run:
 *   make pond-duck-en
 *
 * To regenerate all languages, run:
 *   make languages
 */

/**
 * Web page structure.
 */
{template .start}
  {call Pond.Duck.soy.start}
    {param appName}
      {msg meaning="Games.pond" desc="IBID"}Pond{/msg}
    {/param}
  {/call}
{/template}
